.scannerBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /*min-height: 100vh;*/
    /*margin-bottom: 30px;*/
}

.qrcodeText {
    color: white;
    display: inline-block;
    padding: 20px 0;
    text-decoration: none;
    /*margin: 20px;*/
}

.errorText {
    color: red;
    display: inline-block;
    padding-bottom: 10px;
    /*margin: 20px;*/
}
