.scannerBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /*min-height: 100vh;*/
    /*margin-bottom: 30px;*/
}

/*.scannerTitle {*/
/*    margin: 30px 0px;*/
/*    color: midnightblue;*/
/*}*/

/*.cameraBlock {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    background-color: darkgray;*/
/*    border: 2px solid midnightblue;*/
/*}*/

/*.textareaBlock {*/
/*    width: 200px;*/
/*    height: 60px;*/
/*    margin: 30px 0px;*/
/*    padding: 5px;*/
/*    border: 2px solid midnightblue;*/
/*}*/

.qrcodeText {
    color: white;
    display: inline-block;
    padding-bottom: 20px;
    /*margin: 20px;*/
}

.errorText {
    color: red;
    display: inline-block;
    padding-bottom: 10px;
    /*margin: 20px;*/
}

/*.viewFinder {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: white;*/
/*}*/